@font-face {

  font-family: "Permanent Marker";
 src: url("./PermanentMarker.woff") format("truetype");
    url(./PermanentMarker.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  src: url(./Inter.ttf) format("truetype");
}

a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: "Inter", sans-serif;
   background: url("1field.jpeg");
  background-size: cover;

.header {
height: 100vh;
background-image: url("maringa1.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center
}

h1 {
  font-family: "Permanent Marker"
, cursive;
font-size: 140px;
line-height: 140px;
color: white;
text-transform: uppercase;
max-width: 1240px;
margin: auto;
}

h2 {
  font-family: "Permanent Marker"
, cursive;
font-size: 24px;
margin-bottom: 10px;
}

.overlay {
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 790px;
margin: 100px auto 50px;
}


.card_image{
  height: 200px;
  object-fit: contain;
  width: 100%;
  margin-bottom: 25px;
}


.card {
  width: 350px;
  padding: 45px 45px 70px;
  background: #ffffff;
  font-size: 16px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.25);
  box-shadow: 4px 4px 5px rgba(122, 161, 197, 0.5);
}

.footer {
min-height: 300px;
background-color: #000000;
color:#ffffff;
font-size:24px;
font-style:italic;
width:100%;
text-align: center;
display: inline-block;
margin:auto;  
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
